#back
{
    -fx-background-color:rgb(169,169,169);
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
#back:hover
{
    -fx-background-color:rgb(150,150,150);
    -fx-cursor: hand;
}
#back:pressed
{
    -fx-background-color:rgb(180,180,180);
    -fx-cursor: hand;
}
#register{
    -fx-background-color:rgb(169,169,169);
    -fx-background-radius: 20px;
    -fx-cursor: hand;

}
#register:hover
{
    -fx-background-color:rgb(150,150,150);
    -fx-cursor: hand;
}
#register:pressed
{
    -fx-background-color:rgb(180,180,180);
    -fx-cursor: hand;
}
#account,#name,#age,#password,#rePassword,#phone
{
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgb(200,200,200);
}
#account{

    -fx-background-image: url("Image/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#name{

    -fx-background-image: url("Image/name.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#age
{
    -fx-background-image: url("Image/age.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#password
{

    -fx-background-image: url("Image/password.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#rePassword
{

    -fx-background-image: url("Image/password.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#phone{
    -fx-background-image: url("Image/phone.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#account:hover,#name:hover,#age:hover,#password:hover,#rePassword:hover,#phone:hover
{
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgb(160,160,160);
}
#account:focused,#name:focused,#age:focused,#password:focused,#rePassword:focused,#phone:focused
{

    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgb(160,160,160);

}
#Register
{
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: rgb(180,180,180);
    -fx-background-color: white;
}
